@model Advert.Entity.DTOs.AdvertsDTOs.AdvertDto

<h2>Advert Details</h2>

<div>
    <p>Created name: @Model.User.FirstName</p>
    <p>Created By: @Model.User.Email</p>
   
</div>

<a asp-action="AdvertsLists" class="btn btn-primary">Back to List</a>
