<div class="content text-center" style="padding: 50px 0;">
    <h1>KORKMAZLAR EMLAK</h1>
    <p>
        Korkmazlar Emlak, hayalinizdeki evi bulmanız için burada! Geniş portföyümüzle en iyi seçenekleri sunuyoruz.
    </p>
   
    <div class="mt-4">
        <a href="/Contact" class="btn btn-primary me-2">İletişim</a>
        <a href="/Register" class="btn btn-secondary">Üye Ol</a>
    </div>
</div>